.cardBox {
  border: 1px solid #000;
  border-radius: 30px;
  padding: 40px;
  height: 100%;
  cursor: pointer;
  transition: all 0.3s ease;
  background: transparent;
}

.cardBox:hover {
  transform: translateY(-5px);
}

.active {
  background: #336963;
  
  border-color: #336963;
}
.active p {
  color: #fff;
}

.active .tgf {
  color: #EAFFE3;
}

.tgf {
  color: #336963;
  margin-bottom: 20px;
}

.lights {
  background-color: #FBFFF6 !important;
  border-radius: 40px;
  padding: 40px;
}
